on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      context:
        required: true
        type: string
      dockerfile:
        required: false
        type: string
        default: 'Dockerfile'
      multiarch:
        required: false
        type: boolean
        default: true
      push:
        required: false
        type: boolean
        default: false

jobs:
  build-image:
    name: Build ${{ inputs.image }} image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Log in to Docker Hub
        if: ${{ inputs.push == true }}
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        if: ${{ inputs.push == true }}
        id: meta
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96 # v5.6.1
        with:
          images: ghcr.io/totara/docker-dev-${{ inputs.image }}
          tags: type=raw,latest
      - name: Set up QEMU (to support building for both amd64 and arm64)
        if: ${{ inputs.multiarch == true }}
        uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf # v3.2.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
        with:
          platforms: ${{ inputs.multiarch == true && 'linux/amd64,linux/arm64' || 'linux/amd64' }}
      - name: Build image for Trivy scan
        run: |
          docker buildx build \
          --load \
          --file ${{ inputs.context }}/${{ inputs.dockerfile }} \
          --tag ghcr.io/totara/docker-dev-${{ inputs.image }}:${{ inputs.push && 'latest' || github.sha }} \
          ${{ inputs.context }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          image-ref: ghcr.io/totara/docker-dev-${{ inputs.image }}:${{ inputs.push && 'latest' || github.sha }}
          format: template
          template: '@/contrib/sarif.tpl'
          output: trivy-results-${{ inputs.image }}-image.sarif
          severity: 'CRITICAL,HIGH'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results-${{ inputs.image }}-image.sarif
      - name: Build and push image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.context }}/${{ inputs.dockerfile }}
          platforms: ${{ inputs.multiarch == true && 'linux/amd64,linux/arm64' || 'linux/amd64' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ inputs.push }}
